<div class="content">
  <h1>Edit Student Subject</h1>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <%= render partial: "form", locals: { student_subject: @student_subject } %>
    </div>
  </div>
</div>

